@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: pink;
}

#graph-display {
  background-color: #f5f5f5 ;
  border-radius: 10px ;
  padding: 1.0% ;
}

form {
  font-family: Georgia;
}

.checkbox {
  display: none;
}

.container-fluid {
  font-family: 'Oswald';
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); 
}
